<!-- ========== Footer Start ========== -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                @FullYear &copy; FishCoin. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- ========== Footer End ========== -->
@code {
    public string FullYear = DateTime.Now.Year.ToString();
}