@inherits LayoutComponentBase

<div class="wrapper">

	<MainNav />
	<RightSidebar />

	<div class="page-content">

		<div class="container-fluid">

			@Body

		</div>

		<Footer />

	</div>

</div>


